<StackLayout class="p-20" *ngIf="!data && isIOS">
  <ActivityIndicator width="100" height="100" [busy]="true"></ActivityIndicator>
</StackLayout>
<StackLayout class="p-20">
  <ListView [items]="data" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
      <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
      <GridLayout columns="auto, auto, auto, auto, auto" >
        <Label [text]="item.documentNo" class="list-group-item" row="0" col="0" textAlignment="right"></Label>
        <Label [text]="item.customer.legalName" class="list-group-item" row="0" col="1" *ngIf="showCustomer"></Label>
        <Label text='{{item.totalLines | width: 6}}' class="list-group-item" row="0" col="2" textAlignment="right"></Label>
        <Label [text]="item.currency.displayName" class="list-group-item" row="0" col="3" textAlignment="right"></Label>
        <Label text='{{item.dueDate | date }}' class="list-group-item" row="0" col="4" textAlignment="right"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</StackLayout>
